<h1>Home</h1>

<form method="GET" action="/results">
    <label for="titleFilter">Find Title</label>
    <input type="text" id="titleFilter" name="titleFilter">
    <input type="submit" value="Search">
</form>
