<h1>Home</h1>

<form method="GET" action="/results">
    <label for="titleFilter">Find a Movie</label>
    <input type="text" id="titleFilter" name="titleFilter" placeholder="Type a movie title">
    <input type="submit" value="Search">
</form>
