<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/css/style.css">
    <title>OMDB App</title>
</head>
<body>
    <h3>Movies Movies Movies</h3>
    <%- body %>
</body>
</html>